.ts-dot-2 {
    transition: all .2s cubic-bezier(.22, .58, .12, .98)
}

.ts-dot-4 {
    transition: all .4s cubic-bezier(.22, .58, .12, .98)
}

.ts-dot-6 {
    transition: all .6s cubic-bezier(.22, .58, .12, .98)
}

.ts-dot-8 {
    transition: all .8s cubic-bezier(.22, .58, .12, .98)
}

.a-forwards {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.a-move-in-left {
    -webkit-animation: move-in-left cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-in-left cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-in-right {
    -webkit-animation: move-in-right cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-in-right cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-in-top {
    -webkit-animation: move-in-top cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-in-top cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-in-bottom {
    -webkit-animation: move-in-bottom cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-in-bottom cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-out-left {
    -webkit-animation: move-out-left cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-out-left cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-out-right {
    -webkit-animation: move-out-right cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-out-right cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-out-top {
    -webkit-animation: move-out-top cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-out-top cubic-bezier(.22, .58, .12, .98) .4s
}

.a-move-out-bottom {
    -webkit-animation: move-out-bottom cubic-bezier(.22, .58, .12, .98) .4s;
    animation: move-out-bottom cubic-bezier(.22, .58, .12, .98) .4s
}

.a-splashing {
    -webkit-animation: splashing ease 3s infinite;
    animation: splashing ease 3s infinite
}

.a-fade-in {
    -webkit-animation: fade-in linear .4s forwards;
    animation: fade-in linear .4s forwards
}

.a-fade-out {
    -webkit-animation: fade-out linear .4s forwards;
    animation: fade-out linear .4s forwards
}

.a-scale-in {
    -webkit-animation: scale-in cubic-bezier(.22, .58, .12, .98) .4s;
    animation: scale-in cubic-bezier(.22, .58, .12, .98) .4s
}

.a-scale-in-ease {
    -webkit-animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .4s;
    animation: scale-in-ease cubic-bezier(.22, .58, .12, .98) .4s
}

.a-scale-out {
    -webkit-animation: scale-out cubic-bezier(.22, .58, .12, .98) .4s;
    animation: scale-out cubic-bezier(.22, .58, .12, .98) .4s
}

.a-scale-out-ease {
    -webkit-animation: scale-out-ease cubic-bezier(.22, .58, .12, .98) .4s;
    animation: scale-out-ease cubic-bezier(.22, .58, .12, .98) .4s
}

@-webkit-keyframes move-in-left {
    0% {
        opacity: 0;
        -webkit-transform: translate(5em);
        transform: translate(5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-in-left {
    0% {
        opacity: 0;
        -webkit-transform: translate(5em);
        transform: translate(5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes move-in-right {
    0% {
        opacity: 0;
        -webkit-transform: translate(-5em);
        transform: translate(-5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-in-right {
    0% {
        opacity: 0;
        -webkit-transform: translate(-5em);
        transform: translate(-5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes move-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5em);
        transform: translateY(5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-in-top {
    0% {
        opacity: 0;
        -webkit-transform: translateY(5em);
        transform: translateY(5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes move-in-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes move-in-bottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes move-out-left {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate(-10em);
        transform: translate(-10em);
        opacity: 0
    }
}

@keyframes move-out-left {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate(-10em);
        transform: translate(-10em);
        opacity: 0
    }
}

@-webkit-keyframes move-out-right {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate(10em);
        transform: translate(10em);
        opacity: 0
    }
}

@keyframes move-out-right {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translate(10em);
        transform: translate(10em);
        opacity: 0
    }
}

@-webkit-keyframes move-out-top {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em);
        opacity: 0
    }
}

@keyframes move-out-top {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em);
        opacity: 0
    }
}

@-webkit-keyframes move-out-bottom {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(5em);
        transform: translateY(5em);
        opacity: 0
    }
}

@keyframes move-out-bottom {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(5em);
        transform: translateY(5em);
        opacity: 0
    }
}

@-webkit-keyframes splashing {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes splashing {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes delayed-fade-out {
    0% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes delayed-fade-out {
    0% {
        opacity: 1
    }
    90% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes delayed-move-out-top {
    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em);
        opacity: 0
    }
}

@keyframes delayed-move-out-top {
    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em);
        opacity: 0
    }
}

@-webkit-keyframes delayed-move-out-bottom {
    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(5em);
        transform: translateY(5em);
        opacity: 0
    }
}

@keyframes delayed-move-out-bottom {
    90% {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1
    }
    to {
        -webkit-transform: translateY(5em);
        transform: translateY(5em);
        opacity: 0
    }
}

@-webkit-keyframes delayed-float-down {
    0% {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    90% {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes delayed-float-down {
    0% {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    90% {
        -webkit-transform: translateY(-5em);
        transform: translateY(-5em)
    }
    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@-webkit-keyframes scale-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-in {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scale-in-ease {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-in-ease {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes scale-out {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes scale-out {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@-webkit-keyframes scale-out-ease {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

@keyframes scale-out-ease {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
}

.p-absolute {
    position: absolute
}

.p-relative {
    position: relative
}

.p-fixed {
    position: fixed
}

.p-center, .p-zero {
    top: 0;
    left: 0
}

.p-center {
    position: absolute;
    bottom: 0;
    right: 0
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.f-clear:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both
}

.m-auto {
    margin: 0 auto
}

.v-top {
    vertical-align: top
}

.v-middle {
    vertical-align: middle
}

.v-bottom {
    vertical-align: bottom
}

.w-100 {
    width: 100%
}

.h-100 {
    height: 100%
}

.dp-block {
    display: block
}

.dp-i-block {
    display: inline-block
}

.dp-none {
    display: none
}

.dp-table {
    display: table
}

.dp-table-cell {
    display: table-cell
}

.dp-flex {
    display: -ms-flexbox;
    display: flex
}

.dp-flex.flex-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.dp-flex.flex-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.dp-flex.flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.dp-flex.align-center {
    -ms-flex-align: center;
    align-items: center
}

.dp-flex.justify-center {
    -ms-flex-pack: center;
    justify-content: center
}

.dp-flex.justify-item-center {
    -ms-grid-column-align: center;
    justify-items: center
}

.dp-flex.space-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.border-box {
    box-sizing: border-box
}

.t-left {
    text-align: left
}

.t-center {
    text-align: center
}

.t-right {
    text-align: right
}

.t-over-hidden {
    overflow: hidden;
    text-overflow: ellipsis
}

.t-no-wrap, .t-nowrap {
    white-space: nowrap
}

.f-family {
    font-family: Arial, Microsoft YaHei, Microsoft Sans Serif, Microsoft SanSerf, 微软雅黑
}

.bg-white {
    background-color: #fff
}

.bg-center {
    background-position: 50%
}

.bg-no-repeat {
    background-repeat: no-repeat
}

.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-fixed {
    background-attachment: fixed
}

.over-hidden {
    overflow: hidden
}

.pointer {
    cursor: pointer
}

.no-select, .none-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.list-none {
    padding: 0;
    margin: 0;
    list-style: none
}

.b-circle {
    border-radius: 50%
}

.v-hidden {
    visibility: hidden
}

[v-cloak] {
    display: none
}