.loading-failure .hint-img {
    width: 50%;
    max-width: 400px;
    margin: 20px 0
}

.loading-hinter .text-content {
    line-height: 1.5
}

.vertical-mode .load-next-btn-container {
    margin: 30px auto 70px;
    text-align: center;
    width: auto
}

.vertical-mode .load-next-btn-container .manga-button {
    width: 240px;
    height: 48px;
    padding: 0px
}

.vertical-mode .ps-container {
    /**
     * Attribute overflow: overlay is deprecated,
     * but unfortunately there isn't any alternative,
     * which can achieve same effect with stylesheets only.
     * So, well, whatever. */
    overflow: overlay;
    scroll-behavior: smooth;
    -webkit-transform: translatez(0);
    transform: translatez(0)
}

.vertical-mode .images-container {
    display: none
}

.image-list {
    display: table;
    height: 100%;
    width: 50%;
    transform-origin: top center
}

.image-list .image-item {
    display: table;
    width: 100%
}

.image-list .image-item img {
    display: table-cell;
    width: 100%;
    height: auto!important
}

@media screen and (max-width: 1080px) {
    .image-list {
        width: 100vw
    }
}